@{
	Layout = "TambahReg";
}
<body>
    <div class="container">
        <div class="text">
            Agen
        </div>
        <form method="post" action="Create">
            <div class="form-row">
                <div class="input-data">
                    <input type="date" name="RegDate">
                    <div class="underline"></div>
                    <label >RegDate</label>
                </div>
            </div>
            <div class="form-row">
                <div class="input-data">
                    <input type="text" name="RegStatus">
                    <div class="underline"></div>
                    <label >RegStatus</label>
                </div>
                <div class="input-data">
                    <input type="text" name="Name">
                    <div class="underline"></div>
                    <label >Name</label>
                </div>
            </div>
            <div class="form-row">
                <div class="input-data">
                    <input type="text" name="Gender">
                    <div class="underline"></div>
                    <label >Gender</label>
                </div>
                <div class="input-data">
                    <input type="text" name="BirthPlace">
                    <div class="underline"></div>
                    <label >BirthPlace</label>
                </div>
            </div>

            <div class="form-row">
                <div class="input-data">
                    <input type="date" name="BirthDate">
                    <div class="underline"></div>
                    <label >BirthDate</label>
                </div>
                <div class="input-data">
                    <input type="text" name="Addrres">
                    <div class="underline"></div>
                    <label >Addrres</label>
                </div>
            </div>
            <div class="form-row">
                <div class="input-data">
                    <input type="text" name="Email">
                    <div class="underline"></div>
                    <label >Email</label>
                </div>
                <div class="input-data">
                    <input type="text" name="Phone">
                    <div class="underline"></div>
                    <label >Phone</label>
                </div>
            </div>
            <div class="form-row">
                <div class="input-data">
                    <input type="text" name="IdCard">
                    <div class="underline"></div>
                    <label for="">IdCard</label>
                </div>
                <div class="input-data">
                    <input type="date" name="CreateDate">
                    <div class="underline"></div>
                    <label >CreateDate</label>
                </div>
            </div>
            <div class="form-row">
                <div class="input-data">
                    <input type="text" name="CreateBy">
                    <div class="underline"></div>
                    <label >CreateBy</label>
                </div>
            </div>
                    <div class="form-row submit-btn">
                        <div class="input-data">
                            <div class="inner"></div>
                            <input type="submit" value="Selanjutnya">
                        </div>
                    </div>
        </form>
    </div>
</body>